{
    "auth": {
      "scope": {
        "project": {
          "name": "ibm-default",
          "domain": {
            "name": "Default"
          }
        }
      },
      "identity": {
        "methods": [
          "password"
        ],
        "password": {
          "user": {
            "domain": {
              "name": "Default"
            },
            "name": "{{ user_id }}",
            "password": "{{ user_password }}"
          }
        }
      }
    }
  }
  
