{  
   "auth":{  
      "scope":{  
         "project":{  
            "domain":{  
               "name":"Default"
            },
            "name":"ibm-default"
         }
      },
      "identity":{  
         "password":{  
            "user":{  
               "domain":{  
                  "name":"Default"
               },
               "password":"",
               "name":""
            }
         },
         "methods":[  
            "password"
         ]
      }
   }
}
